<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>{{name}}의 꿈</h1>
	<p>나이 {{age}}를 먹고 조선이 멸망한 것을 본 {{name}}은  </p>
	<p>현피 뜨고 싶으면 {{{email}}}로 연통하라고 합니다.</P>
	<input type="password" value="{{password}}" placeholder="비밀번호를 입력하세요">
	<button type = "submit">현피 신청</button>
	
</body>
</html>